{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

  <div class="container mt-5">
      <div class="card">
        <div class="card-header">
          <h1 class="card-title text-orange "><h1 class="text-blue">Add New Member to: <span class="text-light-blue">{{ group.name }}</span></h2>
        </div>
        <div class="card-body">
          <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class=" bt-outline-orange">Add Member</button>
        </form>
        </div>
      </div>
  </div>

{% endblock %}
