{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
   <div class=" container  mt-5 pt-5">
      <div class="card">
         <div class="card-header">
          
          <h1 class="card-title text-orange "><h1 class="text-blue">Add  Dependents <span class="text-light-blue">{{ group.name }}</span></h2>
         </div>
         <div class="card-body">
            <form method="post">
                  {% csrf_token %}
                  {{ formset.management_form }}
                  {% for form in formset %}
                  <div class="d-flex gap-1 shadow  mb-3 bg-body-tertiary rounded">
                     {{form|crispy}}
                  </div>
                  {% endfor %}
                 
                  <button type="submit" class=" bt-outline-orange">Save</button>
            </form>
        </div>
      </div>
   </div>
   
{% endblock %}
