{% extends 'base.html' %}
{% block content %}

    <div class="mt-5 pt-5">
        <div class="border m-5 p-3 ">
            <div class="border p-2 m-2">
                <h2>Join Existing Group:</h2>  
                <a href="{% url 'join_existing_group'%}">Join Existing Group</a> 
            </div>

            <div class="border p-2 m-2">
                <h2>Create a New Group:</h2>
                <a href="{% url 'create_group'%}">Create a New Group</a>
            </div>
        </div>
    </div>

{% endblock %}
