{% extends 'base.html' %}
{% load crispy_forms_tags %}

 {% block content %}
 
  <div class="container  mt-5">
    <div class="card">
      <div class="card-header ">
         <h2 class="card-title  "><span class="text-blue">Share Your Condolences </span></h2>
       </div>
      <div class="card-body ">
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class=" bt-outline-orange">Share</button>
        </form>
      </div>
    </div>
  </div>
       
{% endblock %}
