{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block sidebar-left %}
    <!-- Sidebar content here -->
{% endblock %}

{% block content %}
<div class="container  mt-5">
     <div class="card">
        <div class="card-header">
          <h1 class="card-title  "><h1 class="text-blue">Delete Post</h1></h1>
        </div>
        <div class="card-body">
            <p class="text-danger"><strong>Are you sure you want to delete this post?</strong></p>
           <div><strong>Author:</strong><span> {{ post.author }}</span></div>&nbsp; 
           <div> <strong>Content:</strong> <span>{{ post.content }}</span></div>&nbsp;
            
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete<span class="material-symbols-outlined">
                    delete_forever
                    </span></button>
                <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
 
{% endblock %}

{% block sidebar-right %}
    <!-- Right sidebar content here -->
{% endblock %}