{% extends 'base.html' %}
{% load static tailwind_tags %}

{% block content %}
<div class="max-w-4xl mx-auto space-y-6 pb-10 mt-4">

    <!-- Group Cover -->
    <div class="relative w-full rounded-xl overflow-hidden shadow-xl group h-50">
        <div class="absolute inset-0">
            {% if active_group.cover_image %}
                <img src="{{ active_group.cover_image.url }}"
                     alt="{{ active_group.name }}"
                     class="w-full h-full object-cover">
            {% else %}
                <div class="w-full h-full bg-gray-300 flex items-center justify-center">
                    <span class="text-gray-500">No Cover Image</span>
                </div>
            {% endif %}
            <div class="absolute inset-0 bg-black/50"></div>
        </div>

        <!-- Group Title + Actions -->
        <div class="relative h-full flex flex-col justify-end p-6">
            <h2 class="text-3xl font-bold text-white drop-shadow-md">{{ active_group.name }}</h2>

            {% if active_group.id %}
            <div class="flex flex-wrap gap-2 mt-4">

              <div class="flex-1">
                    <button onclick="create_post_modal.showModal()"
                        class="w-full text-left bg-gray-300 hover:bg-gray-400 rounded-full px-4 py-3 text-gray-600 transition-colors cursor-pointer">
                        What's on your mind?
                    </button>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <!-- Recent Posts -->
    <div id="posts-list-container" hx-trigger="postCreated from:body" hx-get="{% url 'home' %}" hx-select="#posts-list" hx-target="#posts-list" hx-swap="outerHTML">
        {% include 'chema/partials/posts_list.html' %}
    </div>


</div>

<!-- Include Create Post Modal -->
{% if active_group %}
    {% include 'chema/partials/create_post_modal.html' with group=active_group %}
{% endif %}

<!-- Include Lightbox Modal -->
{% include 'chema/partials/lightbox_modal.html' %}

{% endblock %}
