{% extends 'base.html' %}

{% block content %}
 {% if deceased %}
 <div class="container mt-3">
  <h1 class="text-blue"> Username: <span class="text-danger">{{ object }}</span></h1>
  <h1 class=" text-blue">Group: <span class="text-danger">{{ group.name }}</span></h1>
 
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header "><span class="text-orange"><h4>Profile Info:</h4></span></div>
        <div class="card-body">
          <img src="{{ member.profile_pic.url }}" alt="{{ member.user.username }}" class="img-fluid">
          <p class="text-danger"><strong>Username:</strong> <span >{{ object }}</span></p>
          <p class="text-danger"><strong>Bio:</strong> <span >{{ bio }}</span></p>
          <p class="text-danger"><strong>Phone:</strong> <span >{{ phone }}</span></p>
          <p class="text-danger"><strong>Address:</strong> <span >{{ address }}</span></p>

          <p class="text-danger"><strong >Deceased:</strong>
           
          
        </div>
      </div>
    </div>
    <div class="col-md-8">       
      <div class="card">
        <div class="card-header"><span class="text-orange"><h4>Groups:</h4></span></div>
        <div class="card-body">
          <ul>
            {% for group in groups %}
              <li class="text-danger">{{ group.name }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-header"><span class="text-orange"><h4>Dependents:</h4></span></div>
        <div class="card-body">
          <ul>
            {% for dependent in dependents %}
              <li>{{ dependent.name }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-header "><span class="text-orange"><h4>Condolence Contributions History:</h4></span></div>
        <div class="card-body">
          <ul>
            {% for contribution in contribution %}
              <li>{{ contribution.deceased_member }}-date-{{contribution.contribution_date}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

    
    {%else%}
   
   
  <div class="container mt-3">
    <h1 class="text-blue"> Username: <span class="text-light-blue">{{ object }}</span></h1>
    <h1 class=" text-blue">Group: <span class="text-light-blue">{{ group.name }}</span></h1>
   
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header "><span class="text-orange"><h4>Profile Info:</h4></span></div>
          <div class="card-body">
            <img src="{{ member.profile_pic.url }}" alt="{{ member.user.username }}" class="img-fluid">
            <p><strong>Username:</strong> {{ object }}</p>
            <p><strong>Bio:</strong> {{ bio }}</p>
            <p><strong>Phone:</strong> {{ phone }}</p>
            <p><strong>Address:</strong> {{address}}</p>
            
          </div>
        </div>
      </div>
      <div class="col-md-8">       
        <div class="card">
          <div class="card-header"><span class="text-orange"><h4>Groups:</h4></span></div>
          <div class="card-body">
            <ol>
              {% for group in groups %}
                <li>{{ group.name }}</li>
              {% endfor %}
            </ol>
          </div>
        </div>
        <div class="card mt-3">
          <div class="card-header"><span class="text-orange"><h4>Dependents:</h4></span></div>
          <div class="card-body">
            <ol>
              {% for dependent in dependents %}
                <li>{{ dependent.name }}</li>
              {% endfor %}
            </ol>
          </div>
        </div>
        <div class="card mt-3">
          <div class="card-header "><span class="text-orange"><h4>Condolence Contributions History:</h4></span></div>
          <div class="card-body">
            <ol>
              {% for contribution in contribution %}
                <li>{{ contribution.deceased_member }}-date-{{contribution.contribution_date}}--Admin--{{contribution.group_admin}}</li>
              {% endfor %}
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
  {%endif%}
{% endblock %}
