{% extends 'base.html' %}

{% block content %}
<div class="main w-50 mt-5 pt-5">
    <h2>Replies to Comment</h2>
    <p><strong>Comment:</strong> {{ comment.content }}</p>
    
    <ul class="list-unstyled">
        {% for reply in replies %}
            <li>
                {% if reply.author.profile_picture %}
                    <img class="rounded-circle account-img" width="30" src="{{ reply.author.profile_picture.url }}">
                {% endif %}
                <strong>{{ reply.author.full_name }}</strong>
                <small class="text-muted">{{ reply.created_at }}:</small>
                <div class="mb-2 bg-warning-subtle text-emphasis-warning p-3 mb-3 shadow p-3 mb-1 bg-body-tertiary rounded">
                    <small class="comment">{{ reply.content }}</small>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %} 
