<dialog id="top_up_modal" class="modal">
  <div class="modal-box bg-white">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <h3 class="font-bold text-lg mb-4">Top Up Wallet</h3>
    <p class="py-2 text-sm text-gray-500 mb-4">Enter your 1Voucher PIN to load funds securely.</p>
    
    {% include 'wallet/top_up_form.html' %}
    
    <div class="mt-4 text-xs text-gray-400 text-center">
        Funds are secured by our licensed WaaS partner.
    </div>
  </div>
</dialog>
<script>
    document.body.addEventListener('close-top-up-modal', function(){
        document.getElementById('top_up_modal').close();
    });
</script>
