body {
    font-family: 'Shanti', sans-serif;
    margin: 0;
    padding: 0;
}

:root {

    --bg-deep-blue: #0c274bfb;
    --textcolor: rgb(20, 213, 247);
    --textcolor1: rgb(101, 171, 184);
    --border-color: rgb(20, 24, 247);
    --btncolor: 1 rgb(243, 7, 39);
    --btncolor: rgb(15, 243, 7);
    --btncolor: 3 rgb(188, 7, 243);
    --btncolor: 4 rgb(243, 168, 7);
}

/* Hide scrollbar while keeping scroll functionality */
.scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari and Opera */
}

.bordercolor {
    border: solid 1px var(--textcolor);
}

.bg-c {
    background-color: var(--bg-deep-blue);
}

.text-orange {
    color: #e54e1e
}

.section {
    display: flex;
    flex-direction: column;
    width: 50%;

}

.comment {
    font-size: small;
    font-weight: 100;
}

.post {
    font-weight: 700;
}

.sidebar-left {
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    height: 900px;
    color: rgb(84, 84, 86);
    box-sizing: border-box;
}

.left-sidebar {
    height: 100%;
    overflow-y: auto;
    margin-bottom: 10px;
}


.main {
    width: 100%;
    margin-left: 25%;
    /* Sidebar width */
    margin-right: 25%;
    /* Sidebar width */


}

.sidebar-right {
    position: fixed;
    margin-left: 10px;
    top: 0;
    right: 0;
    width: 25%;
    height: 100vh;
    color: rgb(84, 84, 86);
    padding: 10px;
    box-sizing: border-box;
}

.bg-color {
    background-color: rgba(75, 30, 30, 0.292);
    color: aliceblue;
}

@media (max-width: 900px) {
    .sidebar-right {
        display: none;
    }

    .sidebar-left {
        top: 0;
        left: 0;
        width: 35%;
        height: 900px;
        color: rgb(84, 84, 86);

    }

    .main {
        width: 100%;
        margin-left: 35%;
        /* Sidebar width */
        margin-right: 10%;
        /* Sidebar width */
        padding: 10px;
        box-sizing: border-box;
    }

    .section {


        width: 100%;

    }
}


@media (max-width: 576px) {
    .sidebar-left {
        display: none;
    }

    .main {
        width: 100%;

        margin-left: 1%;
        /* Sidebar width */
        margin-right: 10%;
        /* Sidebar width */
        box-sizing: border-box;
    }

}

@media (min-width: 576px) {
    .offcanvas-left {
        display: none;
    }

}

@media (min-width: 900px) {
    .offcanvas-right {
        display: none;
    }

}

.canvas {
    display: flex;
    justify-content: space-between;


}

@media (max-width: 660.98px) {
    .profile {
        display: none !important;
    }
}

/* Initially hide the content */
.hidden-content {
    display: none;
}

.members {
    height: 300px;
}

.box {
    height: 20%;
}

.bt-outline-orange {
    border-color: #e54e1e;
    color: #e6d9d5;
    background-color: #e54e1e;

    font-weight: 700;
    border-radius: 5px;
}

.bt-outline-blue {
    border-color: #1e2758;
    color: #1e2758;
    background-color: rgba(135, 121, 236, 0.845);
    font-weight: 700;
}

.bg-orange {
    background-color: #eeb9a6;
}

.text-blue {
    color: #2037b7;
}

.text-light-blue {
    color: #5469e2;
}