{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
   <div class="card">
    <div class="card-header">
      <h1 class="card-title text-blue-600">Contribution Detail</h1>
    </div>
    <div class="card-body">
        
        <p><strong class="text-blue-500">Contributing Member:</strong> {{ contribution.contributing_member }}</p>
        <p><strong class="text-blue-500">Amount:</strong> {{ contribution.amount }}</p>
        <p><strong class="text-blue-500">Contribution Date:</strong> {{ contribution.contribution_date }}</p>
        <p><strong class="text-blue-500">Deceased Member:</strong> {{ contribution.deceased_member }}</p>
        <p><strong class="text-blue-500">Recorded by (Admin):</strong> {{ contribution.group_admin }}</p>
        
        <div class="card-footer">
            <button class="btn btn-outline" onclick="window.history.back();">Go Back</button>
        </div>
    </div>
  </div>
</div>




{% endblock %}
